* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}

/*APP*/
body {
  background-color: aliceblue;
}

header {
  padding-top: 100px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding: 30px 0px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #0263b2;
  padding: 29px;
  border-radius: 5% 5% 0% 0% / 10% 10% 0% 0%;
}


/*DIVs FLEX*/
.menu, .links, .tipos, .container-entrada, .container-estatico, .oneEstrutura, .imagens, .twoEstrutura, .promocoes-int, .produtos, .produto-categoria, .modal, .modal-tel, .categorias, .categoria, .produto-categoria, .all-produtos, .links-footer, .redes, .rodape, .end {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*MENU*/
.menu {
  justify-content: space-around;
  height: 100px;
  width: 100%;
  background-color: #0264b2;
  z-index: +2;
  position: fixed;
  top: 0px;

  & img {
    height: 80px;
    width: 152px;
  }
  & .links {
    gap: 50px;
  }
  & a {
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    color: white;
    padding: 10px 0px;

    &:hover {
      color: tomato;
    }
  }
  a:hover svg {
    transition: all 0.3s;
    color: tomato;
  }
  & svg {
    color: white;
    font-size: 20px;
  }
  & small {
    font-size: 20px;
  }
  & p {
    padding: 7px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  & span {
    color: white;
  }
  .menu-hamburguer{
    cursor: pointer;
    display: none;
    & svg{
      font-size: 30px;
    }
  }
}


/*CATEGORIA*/
.produto-categoria {
  height: 100%;
  width: 100%;
}
.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.219);
  position: fixed;
  bottom: 0px;
  z-index: 4;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  flex-direction: column;
  transition: all 1s ease-in-out;

  & .container-produtos {
    max-height: 730px;
    overflow-y: auto;
  }
}
.title{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.fechar {
  cursor: pointer;
  color: #f01f2b;
  font-size: 40px;

  &:hover {
    color: #0264b2;
  }
}
.categorias {
  width: 100%;
  height: 140px;
  gap: 50px;
  padding: 10px 20px;
  border-radius: 5px;
}
.categoria {
  flex-direction: column;
  height: 100px;
  width: 100px;
  text-align: center;
  box-shadow: 0px 0px 3px gray;
  border-radius: 20%;
  cursor: pointer;
  gap: 5px;
  border: none;
  background-color: rgb(246, 250, 253);

  & svg {
    font-size: 30px;
    color: #f01f2b;
  }
  & p {
    font-size: 15px;
    color: #181818;
  }
  &:hover{
    box-shadow: 0px 0px 5px gray;
  }
  &:hover svg {
    transition: all 0.6s ease-in-out;
    color: #0264b2;
  }
  &:hover p {
    transition: all 0.6s ease-in-out;
    color: #0264b2;
  }
}
.modal-tel{
  height: 100vh;
  width: 100%;
  gap: 50px;
  background-color: rgba(255, 255, 255, 0.219);
  position: fixed;
  bottom: 0px;
  z-index: 3;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  flex-direction: column;
  transition: all 1s ease-in-out;
  display: none;
}
.botao-cat{
  width: 50%;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color:aliceblue;
  transition: all 1s ease-in;
  background-image: linear-gradient(to right, tomato, #0263b2);
  &:hover{
    text-decoration: underline;
  }
}


/*ENTRADA*/
.container-entrada {
  height: 600px;
  width: 100%;
  margin-bottom: 50px;
}
.oneEstrutura, .twoEstrutura, .threeEstrutura{
  transition: all 0.5s ease-in-out;
  height: 600px;
  width: 100%;
  position: absolute;
  background-position: center;
  background-image: url(../imagens/back-fertem.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
.twoEstrutura {
  z-index: -1;
  opacity: 0;
  background-image: url(../imagens/back-fertem-2.jpg);
}
.threeEstrutura{
  position: static;
  display: none;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url(../imagens/back-fertem-mobile.jpg)
}
.setas {
  position: absolute;
  cursor: pointer;

  & svg {
    font-size: 40px;
    color: #f01f2b;
    margin: 20px;
    padding: 5px;
    border: 1px solid #f01f2b;
    border-radius: 50%;

    &:hover {
      border: 2px solid #0263b2;
    }
  }
}
& #right {
  transition: all 0.5s ease-in-out;
  right: 0px;
  border-radius: 50%;
}
& #left {
  transition: all 0.5s ease-in-out;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
}


/*PROMOCOES*/
.promocoes {
  padding: 20px;
  background-color: rgb(246, 250, 253);
  filter: drop-shadow(0px 0px 20px gray);
  border-radius: 5px;

  & h1 {
    font-family: "Karla", sans-serif;
    color: #0264b2;
    border-bottom: 2px solid #f01f2b;
    margin-bottom: 10px;
  }
}
.promocoes-int {
  gap: 20px;
  flex-wrap: wrap;
}
.promocao {
  background-color: #0264b2;
  border-radius: 3px;
  color: aliceblue;
  padding: 4px;
  height: 400px;
  width: 250px;

  & img {
    height: 241px;
    width: 100%;
    border-radius: 5px;
  }
  & h2 {
    font-family: "Karla", sans-serif;
    font-size: 18px;
    font-weight: 400;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0px 5px;
  }
  & div {
    font-size: 14px;
    color: #f83b3b;
    font-weight: 800;
    text-decoration: line-through;
    margin: 7px 5px;
  }
  & h3 {
    margin: 5px;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1.2px;

    & span {
      font-weight: 500;
      font-size: 18px;
    }
  }
  & p {
    margin: 0px 5px;
    font-size: 14px;
  }
}


/*PRODUTOS*/
.produtos {
  width: 100vh;
  border-radius: 5px;
  margin: 50px 0px;
  flex-direction: column;
  padding: 20px;
  gap: 50px;

}
.pesquisa {
  height: 45px;
  width: 400px;
  outline: none;
  padding: 0px 30px 0px 7px;
  border: none;
  filter: drop-shadow(0px 0px 1px gray);
  border-radius: 3px;
  font-size: 18px;
  transition: all 1s ease;
  margin-left: 20px;

  &:hover {
    filter: drop-shadow(0px 0px 2px #0264b2);
  }
  &::placeholder {
    color: #0263b2;
  }
}
.lupa {
  position: relative;
  right: 30px;
  top: 5px;
}
.container-produtos {
  max-height: 1500px;
  overflow-y: auto;
  width: 1200px;
  padding: 20px;
  background-color: rgb(246, 250, 253);
  box-shadow: 0px 0px 2px gray;
  border-radius: 5px;

  & h1 {
    font-family: "Karla", sans-serif;
    color: #0264b2;
    border-bottom: 2px solid #f01f2b;
    margin-bottom: 25px;
    font-size: 25px;
  }
}
.all-produtos {
  gap: 30px;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;

  & .product {
    margin-left: 13px;
    height: 310px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;

    &:hover {
      filter: drop-shadow(0px 0px 3px gray);
    }
    & nav {
      text-align: center;
      margin-top: 10px;
    }
    & img {
      width: 70%;
      text-align: center;
    }
    & h2 {
      font-family: "Karla", sans-serif;
      font-size: 18px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0px 7px;
    }
    & h3 {
      color: gray;
      font-weight: 400;
      font-size: 15px;
      margin: 7px 7px;
      font-family: "Karla"
    }
    & p {
      color: #f01f2b;
      font-weight: bold;
      font-size: 25px;
      margin: 0px 7px;

      & span {
        font-size: 15px;
      }
    }
  }
}


/*RODAPÉ*/
.rodape {
  width: 100%;
  justify-content: space-around;
  color: aliceblue;
}
.sobre {
  max-width: 300px;

  & img {
    height: 100px;
  }
  & address {
    font-weight: 500;
    margin: 10px 0px;
  }
}
.links-footer {
  flex-direction: column;
  gap: 10px;
  align-items: start;

  & a {
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    &:hover {
      color: rgb(179, 184, 189);
      text-decoration: underline;
    }
  }

}
.redes {
  gap: 20px;
  flex-direction: column;
  align-items: start;

  & a {
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 7px;
    &:hover {
      color: rgb(179, 184, 189);
    }
    & svg {
      font-size: 30px;
    }
  }
}
.end {
  margin-top: 20px;
  color: aliceblue;
  gap: 30px;

  & h1,h2 {
    font-weight: 300;
    font-size: 20px;
    max-width: 350px;
    text-align: center;
  }
  & nav {
    height: 10px;
    width: 3px;
    background-color: aliceblue;
  }
}