* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Quicksand", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
}

/*APP*/
body {
  background-color: aliceblue;
}

header {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  padding-bottom: 30px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: #0263b2;
  padding: 29px;
  border-radius: 5% 5% 0% 0% / 10% 10% 0% 0%;
}


/*DIVs FLEX*/
.menu, .links, .tipos, .container-entrada, .produtos, .titulo-externo, .produto-categoria, .modal, .modal-tel, .fechar-modal, .categorias, .categoria, .produto-categoria, .all-produtos, .botao, .detalhamento, .detalhe-interno, .sobre-produto, .orcamento-imagem, .fornecedores, .titulo, .links-footer, .redes, .rodape, .end {
  display: flex;
  justify-content: center;
  align-items: center;
}


/*MENU*/
.menu {
  justify-content: space-around;
  height: 80px;
  width: 100%;
  background-color: #0264b2;
  & p {
    padding: 7px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  & span {
    color: white;
  }
  .menu-hamburguer{
    cursor: pointer;
    display: none;
    & svg{
      font-size: 30px;
    }
  }
}
.logo {
  height: 70px;
  width: 152px;
}
.pesquisa {
  height: 45px;
  width: 400px;
  outline: none;
  padding: 0px 30px 0px 7px;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  transition: all 1s ease;

  &:hover {
    filter: drop-shadow(0px 0px 5px rgb(235, 226, 226));
  }
  &::placeholder {
    color: #0263b2;
  }
}
.lupa {
  position: relative;
  right:30px;
  top: 2px;
}
.whatsapp{
  position: fixed;
  bottom: 25px;
  right: 25px;
  color: #2dd46b;
  transition: all 1s ease;
  & svg{
    font-size: 45px;
    z-index: +7;
  }
  &:hover{
    color: #2dd46aa2;
  }
}


/*CATEGORIA*/
.produto-categoria {
  height: 100%;
  width: 100%;
}
.modal {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.219);
  position: fixed;
  bottom: 0px;
  z-index: 4;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  flex-direction: column;
  transition: all 1s ease-in-out;

  & .container-produtos {
    max-height: 730px;
    overflow-y: auto;
  }
}
.fechar {
  cursor: pointer;
  color: #f01f2b;
  font-size: 30px;

  &:hover {
    color: #0264b2;
  }
}
.fechar-modal{
  background-color: #f01f2b;
  padding: 10px;
  margin-bottom: 5px;
  color: aliceblue;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.5s ease-in;
  gap: 5px;
  border: 1px solid transparent;

  &:hover {
    color: #f01f2b;
    background-color: aliceblue;
    border: 1px solid rgba(128, 128, 128, 0.719);
  }
}
.categorias {
  width: 100%;
  height: 140px;
  gap: 50px;
  padding: 10px 20px;
  border-radius: 5px;
}
.categoria {
  flex-direction: column;
  height: 100px;
  width: 100px;
  text-align: center;
  box-shadow: 0px 0px 3px gray;
  border-radius: 10%;
  cursor: pointer;
  border: none;

  & p{
    font-weight: 500;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    color: aliceblue;
    backdrop-filter: blur(2px);
    background-color: rgba(14, 13, 13, 0.815);
    padding: 30px 0px;
    width: 100%;
    text-align: center;
    border-radius: 10%;
    font-size: 15px;
  }
  &:hover{
    box-shadow: 0px 0px 5px gray;
  }
  &:hover p{
    opacity: 1;
  }
}

#one, #two, #three, #four, #five, #six, #seven, #eight, #nine{
  background-image: url(../imagens/categorias/maquinas.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#two{
  background-image: url(../imagens/categorias/decoracao.jpg);
}
#three{
  background-image: url(../imagens/categorias/ferramentas.jpg);
}
#four{
  background-image: url(../imagens/categorias/materias-de-ligacao.jpg);
}
#five{
  background-image: url(../imagens/categorias/iluminacao.jpg);
}
#six{
  background-image: url(../imagens/categorias/hidráulica.jpg);
}
#seven{
  background-image: url(../imagens/categorias/eletrica.jpg);
}
#eight{
  background-image: url(../imagens/categorias/ferragem.jpg);
}
#nine{
  background-image: url(../imagens/categorias/EPI.jpg);
}
/*CATEGORIA PARA TELEFONES*/
.modal-tel{
  height: 100vh;
  width: 100%;
  gap: 50px;
  background-color: rgb(246, 250, 253);
  position: fixed;
  bottom: 0px;
  z-index: 3;
  backdrop-filter: blur(10px);
  border-radius: 5px;
  flex-direction: column;
  transition: all 1s ease-in-out;
  display: none;
}
.botao-cat{
  width: 50%;
  border: none;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  color: #0263b2;
  transition: all 0.3s ease-in;
  background-color: rgb(246, 250, 253);
  font-weight: 500;
  &:hover{
    color: rgb(246, 250, 253);
    background-color: #0263b2;
    text-decoration: underline;
  }
}


/*ENTRADA*/
.container-entrada {
  height: 350px;
  width: 100%;
}
.oneEstrutura, .twoEstrutura, .threeEstrutura{
  transition: all 0.5s ease-in-out;
  height: 350px;
  width: 100%;
  position: absolute;
  background-position: center;
  background-image: url(../imagens/back-fertem-ind.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.twoEstrutura {
  z-index: -1;
  opacity: 0;
  background-image: url(../imagens/back-localizacao.png);
}

.setas {
  position: absolute;
  cursor: pointer;

  & svg {
    font-size: 40px;
    color: #f01f2b;
    margin: 20px;
    padding: 5px;
    border: 1px solid #f01f2b;
    border-radius: 50%;

    &:hover {
      border: 2px solid #ffffff;
    }
  }
}
& #right {
  transition: all 0.5s ease-in-out;
  right: 0px;
  border-radius: 50%;
}
& #left {
  transition: all 0.5s ease-in-out;
  left: 0;
  opacity: 0;
  z-index: -1;
  border-radius: 50%;
}


/*PRODUTOS*/
.produtos {width: 100%;
  border-radius: 5px;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}
.titulo-externo{
    width: 100%;
    margin: 20px 0px;

    & nav{
      height: 3px;
      width: 100%;
      background-color: #f01f2b;
    }
    .titulo-produto{
      font-size: 24px;
      color: aliceblue;
      font-weight: 600;
      padding: 10px;
      background-color: #f01f2b;
      border-radius: 2px 10px;
      font-family: "Karla", sans-serif;
    }
}
.container-produtos {
  max-height: 1500px;
  overflow-y: auto;
  width: 1200px;
  padding: 20px;
  background-color: rgb(246, 250, 253);
  box-shadow: 0px 0px 2px gray;
  border-radius: 5px;
}
.all-produtos {
  gap: 30px;
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;

  & .product {
    margin-left: 13px;
    height: 350px;
    width: 250px;
    background-color: white;
    box-shadow: 0px 0px 2px gray;
    border-radius: 4px;
    transition: all 0.5s ease-in-out;

    &:hover .botao a{
        opacity: 1;
        z-index: 1;
    }
    &:hover {
      filter: drop-shadow(0px 0px 3px gray);
    }
    & nav {
      text-align: center;
      margin-top: 10px;
    }
    & img {
      width: 70%;
      text-align: center;
    }
    & h2 {
      font-family: "Karla", sans-serif;
      font-size: 18px;
      font-weight: 400;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      margin: 0px 7px;
      height: 44px;
    }
    & h3 {
      color: gray;
      font-weight: 400;
      font-size: 15px;
      margin: 7px 7px;
      font-family: "Karla", sans-serif;
    }
    & p {
      color: #f01f2b;
      font-weight: bold;
      font-size: 25px;
      margin: 0px 7px;

      & span {
        font-size: 15px;
      }
    }
    .botao{
      flex-direction: column;
      gap: 10px;
      margin: 10px 10px 0px 10px;
      gap: 3px;

      button{
        cursor: pointer;
        border: none;
        color: aliceblue;
        padding: 10px;
        width: 100%;
        background-color: #0263b2;
        border-radius: 5px;
        text-align: center;
        font-size: 14px;
        &:hover{
          color: rgba(240, 248, 255, 0.466);
        }
      }
    }
  }
}
.detalhamento{
  top: 0%;
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 5;
  background-color: #18181836;
  backdrop-filter: blur(15px);
  border-radius: 5px;
  flex-direction: column;

  .fechar{
    position: relative;
    left: 425px;
    top: 30px;
  }
}
.detalhe-interno{
  gap: 20px;
  padding: 30px;
  align-items: start;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;

  & .orcamento-imagem{
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    img{
      height: 450px;
      width: 450px;
    }
    a{
      color: aliceblue;
      background-color: #f01f2b;
      padding: 10px;
      width: 100%;
      text-align: center;
      border-radius: 5px;
      font-weight: 500;
      font-size: 17px;
      transition: all 0.5s ease-in-out;
      &:hover{
        color: rgba(240, 248, 255, 0.596);
      }
    }
 }
}
.sobre-produto{
  width: 350px;
  gap: 30px;
  align-items: start;
  flex-direction: column;

  h1{
    font-size: 24px;
    font-family: "Karla", sans-serif;
    font-weight: 500;
  }
  h2{
    font-weight: 600;
    font-size: 28px;
    span{
      font-size: 16px;
      color: #f01f2b;
    }
  }
  span{
    color: gray;
    font-weight: 400;
    font-family: "Karla", sans-serif;
  }
  nav{
    padding: 5px;
    box-shadow: 0px 0px 1px gray;
    h4{
      width: 180px;
      border-bottom: 2px solid #f01f2b;
      margin-bottom: 10px;
    }
  }
}


/*FORNECEDORES*/
.fornecedores{
  border-radius: 10px;
  height: 350px;
  width: 98%;
  padding: 0px 30px;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 0px 2px gray;
}
.titulo{
  gap: 30px;
  & h1{
    font-family: "Karla", sans-serif;
    font-size: 25px;
    color: aliceblue;
    padding: 10px 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: #0263b2;
    margin-bottom: 20px;
  }
  & nav{
    height: 10px;
    width: 40px;
    background-color: #f01f2b;
    border-radius: 0px 50px 0px 50px;
    margin-bottom: 10px;
  }
}
.marquee{
  & img{
    margin-right: 50px;
    height: 60px;
  }
}


/*RODAPÉ*/
.rodape {
  width: 100%;
  justify-content: space-around;
  color: aliceblue;
}
.sobre {
  max-width: 300px;

  & img {
    height: 100px;
  }
  & address {
    font-weight: 500;
    margin: 10px 0px;
  }
}
.links-footer {
  flex-direction: column;
  gap: 10px;
  align-items: start;

  & a {
    font-size: 18px;
    font-weight: 500;
    color: aliceblue;
    &:hover {
      color: rgb(179, 184, 189);
      text-decoration: underline;
    }
  }

}
.redes {
  gap: 20px;
  flex-direction: column;
  align-items: start;

  & a {
    color: aliceblue;
    display: flex;
    align-items: center;
    gap: 7px;
    &:hover {
      color: rgb(179, 184, 189);
    }
    & svg {
      font-size: 30px;
    }
  }
}
.end {
  margin-top: 20px;
  color: aliceblue;
  gap: 30px;

  & h1,h2 {
    font-weight: 300;
    font-size: 20px;
    max-width: 350px;
    text-align: center;
  }
  & nav {
    height: 10px;
    width: 3px;
    background-color: aliceblue;
  }
}