@media screen and (min-width:350px) and (max-width:489px) {
    footer{
        padding: 20px 10px;
        border-radius: 3% 3% 0% 0% / 3% 3% 0% 0%;
    }
    .observador{
        display: none;
    }

    /*MENU*/
    .menu{
        justify-content: space-between;
        padding: 0px 5px;
        height: 60px;

        & small{
            display:none;
        }
        .menu-hamburguer{
            display: flex;
            & svg{
                font-size: 25px;
            }
        }
    }
    .logo{
        height: 35px;
        width:68px;
    }
    .pesquisa {
        height: 35px;
        width: 210px;
        font-size: 12px;
        margin-left: 15px;
        padding: 0px 25px 0px 7px;
    }
    .lupa {
        height: 20px;
        right: 25px;
        top: 2px;
    }
    .whatsapp{
        bottom: 50px;
        left: 25px;
        & svg{
            font-size: 35px;
        }
    }

    /*CATEGORIAS*/
    .modal{
        & .container-produtos {
            max-height: 600px;
        }
    }
    .categorias {
        display: none;
    }
    .modal-tel{
        gap: 20px;
    }
    
    /*CATEGORIAS*/
    .categorias {
        display: none;
    }
    .modal-tel{
        gap: 30px;
    }
    .botao-cat{ 
        font-size: 17px;
    }
    
    /*BANNERS*/
    .container-entrada {
        height: 200px;
        width: 100%;
        margin: 10px 0px;
    }
    .oneEstrutura, .twoEstrutura {
        height: 200px;
        width: 100%;
        background-image: url(../imagens/back-fertem-phone.png);
    }
    .twoEstrutura {
        background-image: url(../imagens/back-localizacao-phone.png);
    }
    .setas{
        & svg {
            font-size: 35px;
            margin: 10px;
            background-color: #18181894;
        }
    }

    /*PRODUTOS*/
    .produtos {
        padding: 0px;
        width: 100%;
    }
    .container-produtos {
        padding: 20px 10px;
        width: 90%;
        & h1{
            font-size: 20px;
        }
    }
    .all-produtos{
        gap: 20px 15px;
        justify-content: center;
        & .product{
            margin-left: 0px;
            height: 240px;
            width: 140px;
            & h2{
                font-size: 12px;
                height: 28px;
            }
            & h3{
                font-size: 11px;
            }
            & p{
                font-size: 18px;
            }
            .botoes{
                button, a{
                    font-size: 11px;
                }
            }
        }
    }
    .detalhamento{
        .fechar{
            position: relative;
            left: 175px;
            top: 30px;
        }
    }
    .detalhe-interno{
        img{
            height: 150px;
            width: 150px;
        }
    }
    .sobre-produto{
        width: 150px;
        gap: 10px;
        h1{
            font-size: 15px;
        }
        h2{
            font-size: 18px;
            span{
                font-size: 13px;
            }
        }
        span{
            font-size: 12px;
        }
        nav{
            height: 100%;
            h4{
                width: 135px;
                font-size: 12px;
            }
            p{
                font-size: 12px;
            }
        }
    }

    /*FORNECEDORES*/
    .titulo{
        & h1{
            font-size: 20px;
        }
    }
    .marquee{
        & img{
            margin-right: 25px;
            height: 30px;
        }
    }

    /*RODAPÉ*/
    .rodape{
        flex-direction: column;
        gap: 30px;
    }
    .sobre{
       width: 100%;
        font-size: 13px;
        text-align: center;
        & img{
          height: 90px;
          width: 160px; 
        }
        & address{
          font-weight: 500;
          margin: 10px 0px;
        }
    }
    .links-footer{
        display: none;
    }
    .redes{
        gap: 30px;
        & a{
            font-size: 12px;
        }
    }
    .end{
        margin-top: 30px;
        gap: 25px;
        & h1, h2{
            font-size: 11px;
        }
    }
}

@media screen and (min-width:490px) and (max-width:649px) {
    footer{
        padding: 20px 10px;
        border-radius: 3% 3% 0% 0% / 3% 3% 0% 0%;
    }
    .observador{
        display: none;
    }

    /*MENU*/
    .menu{
        justify-content: space-between;
        padding: 0px 10px;
        height: 60px;

        & small{
            display:none;
        }
        .menu-hamburguer{
            display: flex;
        }
    }
    .logo{
        height: 45px;
        width: 90px;
    }
    .pesquisa {
        height: 38px;
        width: 280px;
        font-size: 15px;
        margin-left: 15px;
    }
    .whatsapp{
        bottom: 50px;
        left: 25px;
        & svg{
            font-size: 35px;
        }
    }

    /*CATEGORIAS*/
    .categorias {
        display: none;
    }
    .modal-tel{
        gap: 30px;
    }
    .botao-cat{ 
        font-size: 18px;
    }
    
    /*BANNERS*/
    .container-entrada {
        height: 260px;
        width: 100%;
        margin: 10px 0px;
    }
    .oneEstrutura, .twoEstrutura {
        height: 270px;
        width: 100%;
        background-image: url(../imagens/back-fertem-phone.png);
    }
    .twoEstrutura {
        background-image: url(../imagens/back-localizacao-phone.png);
    }
    .setas{
        & svg {
            font-size: 35px;
            margin: 10px;
            background-color: #18181894;
        }
    }
    
    /*PRODUTOS*/
    .produtos {
        padding: 0px;
        width: 100%;
    }
    .container-produtos {
        padding: 20px 10px;
        width: 400px;
        & h1{
            font-size: 20px;
        }
    }
    .all-produtos{
        gap: 15px 10px;
        justify-content: center;
        & .product {
            margin-left: 5px;
            height: 290px;
            width: 165px;
            & h2 {
                font-size: 15px;
                height: 40px;
            }
            & h3 {
                font-size: 12px;
            }
            & p {
                font-size: 20px;
            }
        }
    }
    .detalhamento{
        .fechar{
            position: relative;
            left: 225px;
            top: 30px;
        }
    }
    .detalhe-interno{
        img{
            height: 200px;
            width: 200px;
        }
    }
    .sobre-produto{
        width: 200px;
        gap: 15px;
        h1{
            font-size: 18px;
        }
        h2{
            font-size: 20px;
            span{
                font-size: 14px;
            }
        }
        span{
            font-size: 13px;
        }
        nav{
            height: 100%;
            h4{
                width: 150px;
                font-size: 13px;
            }
            p{
                font-size: 13px;
            }
        }
    }

    /*FORNECEDORES*/
    .titulo{
        & h1{
            font-size: 20px;
        }
    }
    .marquee{
        & img{
            margin-right: 35px;
            height: 35px;
        }
    }

    /*RODAPÉ*/
    .rodape{
        flex-direction: column;
        gap: 50px;
    }
    .sobre{
        max-width: 450px;
        font-size: 15px;
        text-align: center;
        & img{
          height: 100px;
          width: 170px; 
        }
        & address{
          margin: 15px 0px;
        }
    }
    .links-footer{
        display: none;
    }
    .redes{
        gap: 30px;
        flex-direction: row;
        & a{
            font-size: 14px;
        }
    }
    .end{
        margin-top: 50px;
        gap: 25px;

        & h1, h2{
            font-size: 14px;
        }
    }
}

@media screen and (min-width:650px) and (max-width:849px) {
    footer{
        padding: 25px;
        border-radius: 5% 5% 0% 0% / 5% 5% 0% 0%;
    }
    
    /*MENU*/
    .menu{
        .menu-hamburguer{
            display: flex;
        }
    }
    .logo{
        height: 55px;
        width: 110px;
    }
    .pesquisa {
        margin-left: 20px;
        height: 38px;
        font-size: 16px;
    }
    .observador{
        display: none;
    }
    .whatsapp{
        bottom: 70px;
        left: 25px;
    }

    /*CATEGORIAS*/
    .categorias {
        display: none;
    }

    /*BANNERS*/
    .oneEstrutura{
        height: 340px;
        width: 100%;
        background-image: url(../imagens/back-fertem-phone.png);
    }
    .twoEstrutura {
        height: 340px;
        width: 100%;
        background-image: url(../imagens/back-localizacao-phone.png);
    }
    .setas{
        & svg {
            font-size: 35px;
            margin: 10px;
            background-color: #18181894;
        }
    }

    /*PRODUTOS*/
    .produtos {
        padding: 0px;
        width: 100%;
    }
    .container-produtos {
        width: 585px;
    }
    .all-produtos{
        gap: 20px 0px;
        & .product {
            height: 280px;
            width: 165px;
            & h2 {
                font-size: 16px;
                height: 38px;
            }
            & h3 {
                font-size: 14px;
            }
            & p {
                font-size: 23px;
            }
        }
    }
    .detalhamento{
        .fechar{
            position: relative;
            left: 300px;
            top: 30px;
        }
    }
    .detalhe-interno{
        img{
            height: 300px;
            width: 300px;
        }
    }
    .sobre-produto{
        width: 250px;
        h1{
            font-size: 20px;
        }
        h2{
            font-size: 23px;
            span{
                font-size: 14px;
            }
        }
        span{
            font-size: 14px;
        }
        nav{
            h4{
                width: 170px;
                font-size: 15px;
            }
        }
    }

    /*FORNECEDORES*/
    .marquee{
        & img{
            margin-right: 50px;
            height: 40px;
        }
    }
    
    /*RODAPÉ*/
    .sobre{
        max-width: 280px;
        font-size: 15px;
        & img{
          height: 90px;
          width: 160px;  
        }
        & address{
          font-weight: 500;
          margin: 10px 0px;
        }
    }
     .links-footer{
        display: none;
    }
    .redes{
        gap: 25px;
        & a{
            font-size: 15px;
        }
    }
    .end{
        gap: 25px;
        & h1, h2{
            font-size: 17px;
            max-width: 100%;
        }
    }
}

@media screen and (min-width:850px) and (max-width:999px) {
    /*MENU*/
    .menu{
        & p {
            font-size: 16px;
        } 
    }
    .logo{
        height: 55px;
        width: 118px;
    }
    .pesquisa {
        height: 38px;
        font-size: 16px;
    }
    
    /*CATEGORIAS*/
    .categorias {
        height: 100px;
        gap: 15px;
        padding: 0px 10px;
    }
    .categoria {
        height: 75px;
        width: 75px;
    }

    /*BANNERS*/
    .container-entrada {
        height: 200px;
        width: 100%;
    }
    .oneEstrutura, .twoEstrutura {
        height: 210px;
        width: 100%;
    }
    
    /*PRODUTOS*/
    .produtos {
        padding: 0px;
        width: 100%;
    }
    .container-produtos {
        width: 840px;
    }
    .all-produtos{
        gap: 20px 0px;
        & .product {
            height: 290px;
            width: 180px;
            & h2 {
                font-size: 16px;
                height: 39px;
            }
            & h3 {
                font-size: 14px;
            }
            & p {
                font-size: 23px;
            }
        }
    }
    .detalhamento{
        .fechar{
            position: relative;
            left: 400px;
            top: 30px;
        }
    }
    .detalhe-interno{
        img{
            height: 400px;
            width: 400px;
        }
    }

    /*FORNECEDORES*/
    .marquee{
        & img{
            margin-right: 50px;
            height: 43px;
        }
    }

    /*RODAPÉ*/
    .end {
        & h1,h2 {
            font-size: 18px;
        }
    }
}

@media screen and (min-width:1000px) and (max-width:1299px) {
    /*MENU*/
    .logo{
        height: 55px;
        width: 118px;
    }
    
   /*CATEGORIAS*/
    .categorias {
        height: 100px;
        gap: 20px;
        padding: 0px 20px;
    }
    .categoria {
        height: 80px;
        width: 80px;
    }

    /*BANNERS*/
    .container-entrada {
        height: 225px;
        width: 100%;
    }
    .oneEstrutura, .twoEstrutura {
        height: 225px;
        width: 100%;
    }
    
    /*PRODUTOS*/
    .container-produtos {
        width: 920px;
    }
    .all-produtos{
        gap: 15px 5px;
        & .product {
            height: 305px;
            width: 200px;
            & h2 {
                font-size: 16px;
                height: 38px;
            }
            & h3 {
                font-size: 14px;
            }
            & p {
                font-size: 23px;
            }
        }
    }
    
    /*FORNECEDORES*/
    .marquee{
        & img{
            margin-right: 50px;
            height: 45px;
        }
    }

    /*RODAPÉ*/
    .end {
        & h1,h2 {
            font-size: 18px;
        }
    }
}

@media screen and (min-width:1300px) and (max-width:1550px) {
    /*MENU*/
    .logo {
        height: 60px;
        width: 132px;
    }

    /*CATEGORIAS*/
    .categorias {
        height: 100px;
        gap: 20px;
        padding: 0px 20px;
    }
    .categoria {
        height: 80px;
        width: 80px;
        & p{ 
            font-size: 13px;
        }
    }

    /*BANNERS*/
    .container-entrada {
        height: 280px;
        width: 100%;
    }
    .oneEstrutura, .twoEstrutura {
        height: 280px;
        width: 100%;
    }

}